{{#each burger}}
    <div class="row">
        <div class="col-md-4 col-md-offset-2" id="undevouredCont">
            {{#unless this.devoured}}
                <div class="undevoured">
                    {{this.id}}. {{this.burger_name}}
                    <form action="index/{{this.id}}?_method=PUT" method="POST">
                        <input type="submit" value="Devour">
                    </form>
                </div>
            {{/unless}}
        </div>
        <div class="col-md-4 col-md-offset-2" id="devouredCont">
            {{#if this.devoured}}
                <div class="devoured">
                    {{this.id}}. {{this.burger_name}}
                    <form action="index/{{this.id}}?_method=DELETE" method="POST">
                        <input type="submit" value="Throw out?">
                    </form>
                </div>
            {{/if}}
        </div>
    </div>
{{/each}}
